<div id="mainbody">
  <div class = "update">
  <%= form_for :post, url: {action: "update"}, :html=>{:method=>:put} do |f| %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :street %><br />
      <%= f.text_field :street, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :state %><br />
      <%= f.text_field :state, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :price %><br />
      <%= f.text_field :price, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :security_deposit %><br />
      <%= f.text_field :security_deposit, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :category %><br />
      <%= f.select :category, [["Apparel & Accessories", "1"], ["Arts and Crafts", "2"], ["Electronics", "3"], ["Home Appliances", "4"], ["Kids & Baby", "5"], ["Movies, Music, Books & Games", "6"],[ "Motor Vehicles", "7"], ["Office & Education", "8"], ["Parties & Events", "9"], ["Spaces & Venues", "10"], ["Sports & Outdoors", "11"], ["Tools & Gardening", "12"], ["Other", "13"]]%>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  </div>
</div>
