<section class="listings">

	<% @allPosts.each do |post| %>

	<article class="listing">
		<p class="title">Title: <%= post.title %></p>
		<p class="posted_by">User ID: <%= post.user_id %></p>
		<p class="description">Description: <%= post.description %></p>
		<p class="price">Price: <%= post.price %></p>
		<p class="deposit">Security Deposit: <%= post.security_deposit %></p>
		<p class="category">Category: <%= map_category(post.category) %></p>
		<p class="status">Status: <%= map_status(post.status) %></p>
	</article>

	<% end %>
	
</section>