<div id="map"></div>
<script>
	function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: -34.397, lng: 150.644},
			disableDefaultUI: true,
			scrollWheel: false,
			minZoom: 11,
			maxZoom: 15,
			zoom: 13
		});

		<% i = 1 %>
		<% @allPosts.each do |post| %>

			new google.maps.Marker({
		    		position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>},
		    		label: '<%= i.to_s %>',
		    		map: map
				});

			<% i = i + 1 %>
		<% end %>

		if (navigator.geolocation) {
	    	navigator.geolocation.getCurrentPosition(function(position) {
				var pos = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				map.setCenter(pos);
			}, function() {
				handleLocationError(true, infoWindow, map.getCenter());
			});
		} else {
	    	handleLocationError(false, infoWindow, map.getCenter());
		}
	}

	function handleLocationError(browserHasGeolocation, infoWindow, pos) {
		infoWindow.setPosition(pos);
		infoWindow.setContent(browserHasGeolocation ? 'Error: The Geolocation service failed.' : 'Error: Your browser doesn\'t support geolocation.');
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOdAeTafFu5ZgatsNFiZ51N9gVpOUjQDk&signed_in=true&callback=initMap" async defer></script>
<div id="mainbody">
	<section class="listings">
		<% i = 1 %>
		<% @allPosts.each do |post| %>
			<article class="listing">
				<%= link_to i.to_s + '. ' + post.title, post, :class => 'title' %>
				<p class="posted_by">Posted by <%= User.find(post.user_id).first_name %></p>
				<%= image_tag post.image_url %>
				<p class="description"><%= post.description %></p>
				<p class="price"><%= '$%.2f per day' % post.price %></p>
				<p class="deposit"><%= '$%.2f security deposit' % post.security_deposit %></p>
				<%= link_to 'Rent it!', root_url, :class => 'rent' %>
				<p class="category">Category: <%= map_category(post.category) %></p>
				<p class="status">Status: <%= map_status(post.status) %></p>
			</article>
			<% i = i + 1 %>
		<% end %>
	</section>
</div>