<div id="map-wrapper"><div id="map"></div></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>
	var map;
	var pos;

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: -34.397, lng: 150.644},
			disableDefaultUI: true,
			scrollWheel: false,
			minZoom: 11,
			maxZoom: 15,
			zoom: 13
		});

		<% i = 1 %>
		<% @allPosts.each do |post| %>

			new google.maps.Marker({
		    		position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>},
		    		label: '<%= i.to_s %>',
		    		map: map
				});

			<% i = i + 1 %>
		<% end %>

		if (navigator.geolocation) {
	    	navigator.geolocation.getCurrentPosition(function(position) {
				pos = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				map.setCenter(pos);
			}, function() {
				handleLocationError(true, infoWindow, map.getCenter());
			});
		} else {
	    	handleLocationError(false, infoWindow, map.getCenter());
		}
	}

	function handleLocationError(browserHasGeolocation, infoWindow, pos) {
		infoWindow.setPosition(pos);
		infoWindow.setContent(browserHasGeolocation ? 'Error: The Geolocation service failed.' : 'Error: Your browser doesn\'t support geolocation.');
	}


	$(window).resize(function() {
    	var width = $(window).width() / 5; 
		$("#map-wrapper").width(width * 2);
		map.setCenter(pos);
		$("#mainbody").width(width * 3);
		$("#mainbody").css({left: width * 2});
  	});

	var ready;
	ready = function() {
	  	var width = $(window).width() / 5;
		$("#map-wrapper").width(width * 2);
		$("#listings-page #mainbody").width(width * 3);
		$("#listings-page #mainbody").css({left: width * 2});
		$(".filter_form").hide();
		$("#categories").click(function() {
			$(".filter_form").slideToggle();
		});
		console.log('hello world');
	};
	$(document).ready(ready);
	$(document).on('page:load', ready);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9eJ9Bm8-3DPZNyMigx1EAABmD-h0OPag&signed_in=true&callback=initMap" async defer></script>
<div id="listings-page">
	<div id="mainbody">
	<section class="filter">
		<a href="#"><h4 id="categories">Categories</h4></a>
		<form class="filter_form", method="get">
			<ul>
			<% @categories.each do |c| %>
				<li>
			    <label><%= check_box_tag("category[]", c[1]) %>
			    <p><%= c[0] %></p></label>
			    </li>
			<% end %>
			</ul>
			<input type="submit" value="Apply Filters" />
		</form>
	</section>
	<section class="listings">
		<% i = 1 %>
		<%= paginate @allPosts %>
		<% @allPosts.each do |post| %>
			<article class="listing" >
				<div>
					<%= link_to i.to_s + '. ' + post.title, post, :class => 'title' %>
				</div>
				<div class="listing-content">
					<div class="images">
						<%= image_tag post.image_url %>
					</div>
					<div class="content">
						<p class="posted_by">Posted by <%= User.find(post.user_id).first_name %> in <%= map_category(post.category) %></p>
						<p class="description"><%= post.description %></p>
					</div>
					<div class="actionbar">
						<p class="price"><%= '$%.2f' % post.price %></p>
						<label>PER DAY</label>
						<p class="deposit"><%= '$%.2f' % post.security_deposit %></p>
						<label>DEPOSIT</label>
						<!-- <p class="category">Category: <%= map_category(post.category) %></p> -->
						<!-- <p class="status">Status: <%= map_status(post.status) %></p> -->
						<div class="action">
							<% if user_signed_in? %>
								<% if post.user_id != current_user.id %>
									<% if post.status == 1 %>
										<%= link_to 'Borrow', exchanges_path(post_id: post.id), :method => :post, :class => 'rent', :id => 'borrow' %>
									<% elsif post.status == 2 %>
										<% if @allExchanges.where(status: 1, post_id: post.id).first.borrower_id == current_user.id %>
											<%= link_to 'Cancel', update_status_exchange_path(id: @allExchanges.where(status: 1, post_id: post.id).first.id, status: 5), :method => :put, :class => 'rent', :id => "cancel" %>
										<% else %>
											<p class="rent">On Hold</p>
										<% end %>
									<% elsif post.status == 3 %>
										<% if @allExchanges.where(status: 2, post_id: post.id).first.borrower_id == current_user.id %>
											<p class="rent">Return</p>
										<% else %>
											<p class="rent">Borrowed</p>
										<% end %>
									<% end %>
								<% else %>
									<% if post.status == 1 %>
										<%= link_to 'Update', {:controller => "posts", :id => post.id, :action => "edit"}, :method => :get, :class => 'rent', :id => 'update' %>
									<% elsif post.status == 2 %>
										<%= link_to 'Accept', update_status_exchange_path(id: @allExchanges.where(status: 1, post_id: post.id).first.id, status: 2), :method => :put, :class => 'rent', :id => 'accept' %>
										<%= link_to 'Reject', update_status_exchange_path(id: @allExchanges.where(status: 1, post_id: post.id).first.id, status: 3), :method => :put, :class => 'rent', :id => 'reject' %>
									<% elsif post.status == 3 %>
										<%= link_to 'Returned', update_status_exchange_path(id: @allExchanges.where(status: 2, post_id: post.id).first.id, status: 4), :method => :put, :class => 'rent', :id => 'returned' %>
									<% end %>
								<% end %>
							<% else %>
								<%= link_to 'Borrow', new_user_registration_path, :id => 'signup', :class => 'rent'%>
							<% end %>
						</div>
					</div>
				</div>
			</article>
			<% i = i + 1 %>
		<% end %>
		<%= paginate @allPosts %>
	</section>
</div>
</div>
