<div id="mainbody">	
	<section class="listings">

		<article class="listing" >
				<div>
					<%= link_to @post.title, @post, :class => 'title' %>
				</div>
				<div class="listing-content">
					<div class="images">
						<%= image_tag @post.image_url %>
					</div>
					<div class="content">
						<p class="posted_by">Posted by <%= User.find(@post.user_id).first_name %> in <%= map_category(@post.category) %></p>
						<p class="description"><%= @post.description %></p>
					</div>
					<div class="actionbar">
						<p class="price"><%= '$%.2f' % @post.price %></p>
						<label>PER DAY</label>
						<p class="deposit"><%= '$%.2f' % @post.security_deposit %></p>
						<label>DEPOSIT</label>
						<!-- <p class="category">Category: <%= map_category(@post.category) %></p> -->
						<!-- <p class="status">Status: <%= map_status(@post.status) %></p> -->
						<div class="action">
							<% if user_signed_in? %>
								<% if @post.user_id != current_user.id %>
									<% if @post.status == 1 %>
										<%= link_to 'Borrow', exchanges_path(post_id: @post.id), :method => :post, :class => 'rent', :id => 'borrow' %>
									<% elsif @post.status == 2 %>
										<% if @allExchanges.where(status: 1, post_id: @post.id).first.borrower_id == current_user.id %>
											<%= link_to 'Cancel', update_status_exchange_path(id: @allExchanges.where(status: 1, post_id: @post.id).first.id, status: 5), :method => :put, :class => 'rent', :id => "cancel" %>
										<% else %>
											<p class="rent">On Hold</p>
										<% end %>
									<% elsif @post.status == 3 %>
										<% if @allExchanges.where(status: 2, post_id: @post.id).first.borrower_id == current_user.id %>
											<p class="rent">Please Return</p>
										<% else %>
											<p class="rent">Borrowed</p>
										<% end %>
									<% end %>
								<% else %>
									<%= link_to 'Update', {:controller => "posts", :id => @post.id, :action => "edit"}, :method => :get, :class => 'rent', :id => 'update' %>
									<% if @post.status == 2 %>
										<%= link_to 'Accept', update_status_exchange_path(id: @allExchanges.where(status: 1, post_id: @post.id).first.id, status: 2), :method => :put, :class => 'rent', :id => 'accept' %>
										<%= link_to 'Reject', update_status_exchange_path(id: @allExchanges.where(status: 1, post_id: @post.id).first.id, status: 3), :method => :put, :class => 'rent', :id => 'reject' %>
									<% elsif @post.status == 3 %>
										<%= link_to 'Returned', update_status_exchange_path(id: @allExchanges.where(status: 2, post_id: @post.id).first.id, status: 4), :method => :put, :class => 'rent', :id => 'returned' %>
									<% end %>
								<% end %>
							<% else %>
								<%= link_to 'Borrow', new_user_registration_path, :id => 'signup', :class => 'rent'%>
							<% end %>
						<!-- <%= link_to 'Rent it!', root_url, :class => 'rent' %> -->
						<%= link_to 'Destroy', post_path(@post), method: :delete, data: { id: @post.id }%>
						</div>
					</div>
				</div>
			</article>
			<!-- <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=400x400&markers=<%= @post.latitude%>,<%= @post.longitude%>&key=AIzaSyD9eJ9Bm8-3DPZNyMigx1EAABmD-h0OPag"></img> -->

		<div class="reviews">
			<% @allReviews.each do |review| %>
				<article class="review">
					<p class="reviewed_by">Review by <%= User.find(review.reviewer_id).first_name %> <%= User.find(review.reviewer_id).last_name %></p>
					<p class="rating">Rating: <%= review.rating %></p>
					<p class="review_content">Review: <%= review.content %></p>
				</article>
			<% end %>
		</div>
	</section>
</div>
