<section class="listings">

	<article class="listing">
		<p class="title"><%= @post.title %></p>
		<p class="posted_by"><%= @post.user_id %></p>
		<p class="description"><%= @post.description %></p>
		<p class="price"><%= @post.price %></p>
		<p class="deposit"><%= @post.security_deposit %></p>
		<p class="status">Status: <%= @post.status %></p>
		<% if @post.user_id != current_user.id%>
			<% if @post.status == 1%>
				<%= link_to 'Borrow Item', exchanges_path(post_id: @post.id), :method => :post %>  
			<% elsif @post.status == 2%>
				<!-- TODO: if item status is not "available", it should not appear on listings -->
				<%if @pendingExchange.first.borrower_id == current_user.id %>
					<%= link_to 'Cancel exchange', update_status_exchange_path(id: @pendingExchange.first.id, status: 5), :method => :put %>
				<% else %>
					<h1>Listing is on hold</h1>
				<% end %>
			<% elsif @post.status == 3%>
				<%if @pendingExchange.first.borrower_id == current_user.id %>
					<h1>Don't forget to return this item</h1>
				<% else %>
					<h1>This item is currently being borrowed</h1>
				<% end %>
			<% end %>
		<% else %>
			<%= link_to "Edit", edit_post_path %>
			<% if @post.status == 2 %>
				<%= link_to 'Accept', update_status_exchange_path(id: @pendingExchange.first.id, status: 2), :method => :put %>
				<%= link_to 'Reject', update_status_exchange_path(id: @pendingExchange.first.id, status: 3), :method => :put %>
			<% elsif @post.status == 3 %>
				<%= link_to 'Object returned', update_status_exchange_path(id: @acceptedExchange.first.id, status: 4), :method => :put %>
			<% end %>
		<% end %>
	</article>
	
</section>