<section class="listings">

	<article class="listing">
		<p class="title"><%= @post.title %></p>
		<p class="posted_by"><%= @post.user_id %></p>
		<p class="description"><%= @post.description %></p>
		<p class="price"><%= @post.price %></p>
		<p class="deposit"><%= @post.security_deposit %></p>
		<p class="status">Status: <%= @post.status %></p>
		<%= link_to 'Borrow Item', exchanges_path(post_id: @post.id), :method => :post %>  
	</article>
	
</section>