<div id="mainbody">
	<%= form_tag(posts_path, :method => "get", id: "home-search-form") do %>
		<span class="home-input-append">
		    <%= text_field_tag :search, params[:search], id: "home-search-bar", placeholder: "What are you looking for?", autofocus: true %><button type="submit" id="home-search-button">Find Stuff</button>
		</span>
	<% end %>
	<% if user_signed_in? %>
    <div class="splash-buttons">
  		<%= link_to 'See All Items', posts_path, :class => 'button' %>
  		<%= link_to 'List Something', new_post_path, :class => 'button' %>
    </div>
	<% else %>
    <div class="splash-buttons">
  		<%= link_to('Sharing makes the world a better place', new_user_registration_path, :id => 'signup', :class=> 'button')  %>
  		<%= link_to('Already a member? Login', new_user_session_path, :id => 'login')  %> 
    </div>
	<% end %>

  <div class="discovery-tiles">
    <div class="row">
      <div class="col-lg-4 rm-padding-sm col-md-12">
        <%= link_to "Apparel & Accessories", posts_path(category: 1), :class=>"tile-text"%>
      	<%= link_to posts_path(category: 1) do
            image_tag('clothes.png', id:"filter_apparel",)
        	end %>
      </div>
      <div class="col-lg-4 rm-padding-sm col-md-12">
        <%= link_to "Arts & Crafts", posts_path(category: 2), :class=>"tile-text"%>
      	<%= link_to posts_path(category: 2) do
            image_tag('art-supplies.png', id:"filter_arts",)
        	end %>
      </div>
      <div class="col-lg-4 rm-padding-sm col-md-12">
        <%= link_to "Electronics", posts_path(category: 3), :class=>"tile-text"%>
      	<%= link_to posts_path(category: 3) do
            image_tag('electronics.jpg', id:"filter_electronics",)
        	end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 rm-padding-sm col-md-12">
        <%= link_to "Kids & Baby", posts_path(category: 5), :class=>"tile-text"%>
      	<%= link_to posts_path(category: 5) do
            image_tag('baby.jpg', id:"filter_baby",)
        	end %>
      </div>
      <div class="col-lg-4 rm-padding-sm col-md-12">
        <%= link_to "Movies, Music, Books, & Games", posts_path(category: 6), :class=>"tile-text"%>
      	<%= link_to posts_path(category: 6) do
            image_tag('games.png', id:"filter_games",)
        	end %>
      </div>
      <div class="col-lg-4 rm-padding-sm col-md-12">
        <%= link_to "Motor Vehicles", posts_path(category: 7), :class=>"tile-text"%>
      	<%= link_to posts_path(category: 7) do
            image_tag('car.png', id:"filter_vehicles",)
        	end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 rm-padding-sm col-md-12">
        <%= link_to "Spaces & Venues", posts_path(category: 10), :class=>"tile-text"%>
      	<%= link_to posts_path(category: 10) do
            image_tag('space.jpg', id:"filter_space",)
        	end %>
      </div>
      <div class="col-lg-4 rm-padding-sm col-md-12">
        <%= link_to "Sports & Outdoors", posts_path(category: 11), :class=>"tile-text"%>
      	<%= link_to posts_path(category: 11) do
            image_tag('outdoor.png', id:"filter_outdoors",)
        	end %>
      </div>
      <div class="col-lg-4 rm-padding-sm col-md-12">
        <%= link_to "Tools & Gardening", posts_path(category: 12), :class=>"tile-text"%>
      	<%= link_to posts_path(category: 12) do
            image_tag('tools.png', id:"filter_tools",)
      	  end %>
      </div>
    </div>
  </div>

</div>