<div id="mainbody">
<div class="log-in">
  <%= link_to user_omniauth_authorize_path(:facebook) do
      image_tag('facebook-sign-up.png', id:"log-in-facebook", onMouseover:"this.src='#{asset_path('facebook-sign-up-hover.png')}'", onMouseout:"this.src='#{asset_path('facebook-sign-up.png')}'")
  end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="blank-vertical-space"></div>
    <b>or</b>

    <div class="field">
      <%= f.email_field :email, class:"email-field", autofocus: true, placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation"  %>
    </div>

    <div class="field">
      <%= f.text_field :first_name, autocomplete: "off", placeholder: "First Name"  %>
    </div>

    <div class="field">
      <%= f.text_field :last_name, autocomplete: "off", placeholder: "Last Name"  %>
    </div>

    <div class="actions">
      <%= f.submit "Sign Up", class:"button"%>
    </div>

    <div class="gray-divider">
    </div>

    <div class="sign-up-footer">
      Already have an account? 
      <%= link_to new_user_session_path do %>
        Sign in
      <% end %>
    </div>
  <% end %>
</div>
</div>