<% if user_signed_in? %>

<div id="mainbody">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="tabber">
    <li role="presentation" class="active"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
    <li role="presentation"><a href="#items" aria-controls="items" role="tab" data-toggle="tab">Items</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="margin: 80px;">
    <div role="tabpanel" class="tab-pane active" id="history">
      <h2>Items You Borrowed</h2>
      <ul class="list-group">
        <% @allExchangesAsBorrower.each_with_index do |exchange, index| %>
        <% if exchange.status == 1 %>
          <li class="list-group-item">You sent a request to borrow <%= @allPostsAsBorrower[index].title.to_s %> from <%= @allLendersAsBorrower[index].first_name.to_s + " " + @allLendersAsBorrower[index].last_name.to_s %> at <%= exchange.created_at.to_s %> </li>
        <% elsif exchange.status == 2 %>
          <li class="list-group-item"><%= @allLendersAsBorrower[index].first_name.to_s + " " + @allLendersAsBorrower[index].last_name.to_s %> accepted your request to borrow <%= @allPostsAsBorrower[index].title.to_s %> at <%= exchange.created_at.to_s %> </li>
        <% elsif exchange.status == 3 %>
        <li class="list-group-item"><%= @allLendersAsBorrower[index].first_name.to_s + " " + @allLendersAsBorrower[index].last_name.to_s %> rejected your request to borrow <%= @allPostsAsBorrower[index].title.to_s %> at <%= exchange.created_at.to_s %> </li>
        <% elsif exchange.status == 4 %>
          <li class="list-group-item">
            You returned <%= @allPostsAsBorrower[index].title.to_s %> to <%= @allLendersAsBorrower[index].first_name.to_s + " " + @allLendersAsBorrower[index].last_name.to_s %> at <%= exchange.created_at.to_s %> 
            <% if ::Review.where(:exchange_id => exchange.id).count > 0 %>
              <%= link_to "You've left a review for this item", post_path(:id => exchange.post_id), :class => 'review_status' %>
            <% else %>
              <%= link_to "Leave a review", new_review_path(:exchange_id => exchange.id), :class => 'review_status' %>
            <% end %>
          </li>
        <% elsif exchange.status == 5 %>
          <li class="list-group-item">You cancelled your request to borrow <%= @allPostsAsBorrower[index].title.to_s %> from <%= @allLendersAsBorrower[index].first_name.to_s + " " + @allLendersAsBorrower[index].last_name.to_s %> at <%= exchange.created_at.to_s %> </li>
        <% end %>
        <% end %>
      </ul>
        
      <h2>Items You Lent</h2>
      <ul class="list-group">
        <% @allExchangesAsLender.each_with_index do |exchange, index| %>
        <% if exchange.status == 1 %>
          <li class="list-group-item"><%= @allBorrowersAsLender[index].first_name.to_s + " " + @allBorrowersAsLender[index].last_name.to_s %> sent a request to borrow <%= @allPostsAsLender[index].title.to_s %> from you at <%= exchange.created_at.to_s %> </li>
        <% elsif exchange.status == 2 %> 
          <li class="list-group-item">You lent <%= @allPostsAsLender[index].title.to_s %> to <%= @allBorrowersAsLender[index].first_name.to_s + " " + @allBorrowersAsLender[index].last_name.to_s %> at <%= exchange.created_at.to_s %> </li>
        <% elsif exchange.status == 3 %>
          <li class="list-group-item">You rejected <%= @allBorrowersAsLender[index].first_name.to_s + " " + @allBorrowersAsLender[index].last_name.to_s %>s request to borrow <%= @allPostsAsLender[index].title.to_s %> from you at <%= exchange.created_at.to_s %> </li>
        <% elsif exchange.status == 4 %>
          <li class="list-group-item"><%= @allBorrowersAsLender[index].first_name.to_s + " " + @allBorrowersAsLender[index].last_name.to_s %> returned <%= @allPostsAsLender[index].title.to_s %> back to you at <%= exchange.created_at.to_s %> </li>
        <% elsif exchange.status == 5 %>
          <li class="list-group-item"><%= @allBorrowersAsLender[index].first_name.to_s + " " + @allBorrowersAsLender[index].last_name.to_s %> cancelled his request to borrow <%= @allPostsAsLender[index].title.to_s %> from you at <%= exchange.created_at.to_s %> </li>
        <% end %>
        <% end %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="items">
      <h2>My Items</h2>
      <div class="list-group">

        <% @allPosts.each_with_index do |post, index| %>
            <div class="list-group-item">
              <% if @allStatuses[index] == "Available" %>
                <h4><span class="label label-pill label-success label-left label-top"><%= @allStatuses[index] %></span></h4>
              <% elsif @allStatuses[index] == "On Hold" %>
                <h4><span class="label label-pill label-primary label-left label-top"><%= @allStatuses[index] %></span></h4>
              <% elsif @allStatuses[index] == "Borrowed" %>
                <h4><span class="label label-pill label-warning label-left label-top"><%= @allStatuses[index] %></span></h4>
              <% elsif @allStatuses[index] == "Unavailable" %>
                <h4><span class="label label-pill label-default label-left label-top"><%= @allStatuses[index] %></span></h4>
              <% end %>
              <%= link_to "<h4>#{post.title} - $#{post.price}</h4>".html_safe, post_path(post), data:{id: post.id}%>
              <p class="list-group-item-text"><%= post.description =%></p>
              <h4><%= link_to 'Delete', post_path(post), method: :delete, data: { id: post.id }, :class => "label label-pill label-danger label-left"%></h4>
            </div>
          
        <% end %>

      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">
    	<h2>Edit Profile</h2>
  		<%= form_for(current_user, as: :user, url: {action: :update}, html: { method: :put }) do |f| %>

  		  <div class="field">
  		    <%= f.label :email %><br />
  		    <%= f.email_field :email, autofocus: true %>
  		  </div>

  		  <div class="field">
  		    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  		    <%= f.password_field :password, autocomplete: "off" %>
  		  </div>

  		  <div class="field">
  		    <%= f.label :password_confirmation %><br />
  		    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  		  </div>

        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autocomplete: "off" %>
        </div>

  		  <div class="field">
  		    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  		    <%= f.password_field :current_password, autocomplete: "off" %>
  		  </div>

  		  <div class="actions">
  		    <%= f.submit "Update" %>
  		  </div>
  		<% end %>

  		<h3>Cancel my account</h3>

  		<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  		<%= link_to "Back", :back %>

    </div>
  </div>

</div>
<% else %>
You are not logged in.
<% end %>